<div class="container">
    
    <div class="col-md-3 col-xs-3 col-sm-3">
        <div *ngFor="let f of constant.films">
           
           <div *ngFor="let film of f.song_list">
              
                <div *ngIf="songID==film.songId && f.id==filmID">
                  
                  <audio controls src="{{film.song_play}}" type="audio/mp3" class="play_song" >
                  </audio><br>
                  <span class="glyphicon glyphicon-heart" (click)="onClickHeart()" [ngClass]="{heart:heart}"></span>
                  <span class="glyphicon glyphicon-thumbs-up" (click)="onClickLike()" [ngClass]="{like:like}"></span>
                  <h1 class="text-primary">Now Playing</h1>
                  <h4>Song  : {{film.song_name}}</h4>
                  <h4>Film  : {{f.film_name}}</h4>
                  <div class="alert-success" *ngIf="message">{{message}}</div>
                  <button class="btn btn-success" (click)="viewPlaylist()">Your Favorite List</button>
                 </div>
           </div>
        </div>
                   
     </div>
    

  </div>
<div class="row">
   <div class="col-md-3">
      <router-outlet></router-outlet>
   </div>
</div>
  
  
 